@import '../../main';

.app-details-page {
  margin-top: $header-height;
  padding: 2rem;
  overflow: hidden;

  .app-details-page-header {
    display: flex;
    align-items: center;

    & > div {
      margin-right: 2rem;
    }
  }

  .app-details-page-body {
    margin-top: 3rem;

    & > table {
      width: 100%;
      border-collapse: collapse;
      text-align: right;
      border-radius: 3px;
      box-shadow: 0 0 0 1px $border-color;

      & > thead > tr > th {
        padding: 2.5vw 0.5rem;
        border-bottom: $border;
      }

      & > tbody > tr > td {
        padding: 0.5rem 0.5rem;
        border-bottom: $border;
      }

      & > thead > tr > th:first-of-type,
      & > tbody > tr > td:first-of-type {
        text-align: left;
        padding-left: 2rem;
      }

      & > thead > tr > th:last-of-type,
      & > tbody > tr > td:last-of-type {
        padding-right: 2rem;
      }
    }
  }
}
