$app-background: rgb(247, 247, 247);

$primary-color: rgb(255, 255, 255);

$subHeading-color: rgb(101, 101, 101);

$route-change-icon-color: rgb(195, 195, 195);

$logo-color-first: rgb(239, 120, 84);
$logo-color-second: rgb(113, 100, 255);
$logo-color-third: rgb(96, 201, 64);

$border-radius: 2.5px;
$border-color: rgb(239, 239, 239);
$border: 1.5px solid $border-color;

$header-background: rgb(113, 100, 255);
$header-height: 4rem;
